{% extends 'heritagesites/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- add "new" button at the top right -->
<header>
    <div class="row">
        <div class="col-sm-11">
    
          </div>
      <div class="col-sm-1">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'site_new' %}">new</a>
        {% endif %}
      </div>
    </div>
  </header>

<!-- start hw requirement -->
  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- add a submit button -->
          <button type="submit" class="btn btn-outline-danger">filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for site in object_list %}
        <h4><a href="{% url 'site_detail' site.pk %}">{{ site.site_name.strip }}</a></h4>
        
        <!-- add the country_area_names and description template tags -->
        {% if site.country_area_names %}
        <div class="row">
            <div class="col-sm-10">
            {{ site.country_area_names }}
            </div>
        </div>
        {% endif %}

        {% if site.description %}
        <div class="row">
            <div class="col-sm-10">
            {{site.description | safe}}
            </div>
        </div>
        {% endif %}

    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}
    </div>
  </div>
{% endblock content %}